{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg py-0">
    <div class="container-fluid">
        <a class="navbar-brand py-0 img-wrap" href="/">
            <img src="/static/img/logo_slim.JPG" alt="logo">
        </a>
        <ul class="navbar-nav me-auto mb-0">
            <li class="nav-item px-3">
                <div class="dropdown">
                    <div class="dropdown-toggle no-select" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Aufgabenplaner
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="/aufgabenplaner/create">Aufgabe anlegen</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/aufgabenplaner/update">Aufgabe aktualisieren</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/aufgabenplaner/markdone">Aufgabe als erledigt markieren</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/aufgabenplaner/delete">Aufgabe löschen</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/aufgabenplaner/read">Aufgabe suchen</a>
                        </li>
                    </ul>
                  </div>
            </li>
            <li class="nav-item px-3">
                <div class="dropdown">
                    <div class="dropdown-toggle no-select" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Lernkarten
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="/lernkarten">Lernkartenübersicht</a>
                        </li>
                    </ul>
                  </div>
            </li>
        </ul>
        <ul class="justify-content-end mb-0">
            <form class="d-flex mb-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Website durchsuchen" aria-label="Search">
                <button class="btn btn-rosa" type="submit">Suche</button>
            </form>
        </ul>
        <a class="navbar-brand ps-3 pe-0 py-0 img-wrap" href="/profile">
            <img src="/static/img/user.jpg" alt="profile">
        </a>
    </div>
</nav>
{% endblock %}