{% extends "layout.html" %}
{% block title %}Aufgabe Anlegen{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: rgb(233, 197, 228);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navigation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Hauptmenü</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/update">Aufgabe aktualisieren</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/markdone">Aufgabe als erledigt markieren</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/delete">Aufgabe löschen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Aufgabe suchen</a>
            </li
          </ul>
          <!-- TODO: Platzierung der einzelnen Elemente auf der Navbar, Farben schöner, Navigation ersetzen durch unser "Logo" -->
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Website durchsuchen" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="background-color: blueviolet; color: aqua; border-color: black;">Suche</button>
          </form>
        </div>
      </div>
    </nav>
    <h1 class="pt-5">Aufgabe anlegen</h1>
    <p>Nutze diese Seite um neue Aufgaben anzulegen.</p>
    <hr class="py-2">
    <form action="POST">
        <input type="text" name="Aufgabentitel" id="input-aufgabentitel" placeholder="Aufgabentitel">
        <input type="submit">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
{% endblock %}  
{% block scripts %}
  {{ super() }}
{% endblock %}

    