{% extends "/fragments/layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <br>
    <form method="post">
        <input type="text" name="username" placeholder="Username" value="{{request.form.username}}">
        <input type="text" name="password" placeholder="Passwort" value="{{request.form.password}}">
        <button class="btn btn-rosa" type="submit" value="Login">Login</button>
    </form>
    {% if error %}  
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
{% endblock %}  
{% block scripts %}
  {{ super() }}
{% endblock %} 