<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aufgabe anlegen </title>
</head>
<body  style="background-color:#FFB3FF;">
    <h1>Aufgabe anlegen</h1>
    <p>Nutze diese Seite um neue Aufgaben anzulegen.</p>
    <br>
    <hr>
    <br>
    <form action="POST">
        <input type="text" name="Aufgabentitel" id="input-aufgabentitel" placeholder="Aufgabentitel">
        <input type="submit">
    </form>
</body>
</html>