{% extends "layout.html" %}
{% block title %}Landing Page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-lg">
        <h1>Wunderschöne Landingpage 💗</h1>
        <p class="pb-2">Herzlich Willkommen bei unserem Aufgabenplaner!</p>    
        <div class="list-group">
            <a href="/create" class="list-group-item list-group-item-action list-group-item-success">Aufgabe erstellen</a>
            <a href="/update" class="list-group-item list-group-item-action list-group-item-warning">Aufgabe aktualisieren</a>
            <a href="/markdone" class="list-group-item list-group-item-action list-group-item-primary">Aufgabe als erledigt markieren</a>
            <a href="/delete" class="list-group-item list-group-item-action list-group-item-danger">Aufgabe löschen</a>
            <a href="/search" class="list-group-item list-group-item-action list-group-item-info">Aufgabe suchen</a>
        </div>
    </div>



    
{% endblock %}  
{% block scripts %}
  {{ super() }}
{% endblock %}